body {
	color: #555;
	margin-top: 20px;
}

h1, h2 {
	display: inline;
}

a {
	color: #808080;
}

a:hover {
	text-decoration: none;
	color: #555;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

textarea.form-control {
 	min-width: 428px;
 	min-height: 100px;
	display: block;
}

i {
	cursor: pointer;
}

.header {
	padding: 25px 15px;
}

.header h1{
	font-size: 42px;
}

.footer {
	padding: 25px 15px;
}

.recipes .date {
	margin: 2px;
	font-size: 18px;
	color: #808080;
}

.recipes .form-control {
	width: auto;
	display: inline;
}

input.form-control {
	font-size: inherit;
	height: inherit;
}

.recipe-detail .form-control, .recipe-detail select, .recipe-detail textarea {
	margin-top: 3px;
	margin-bottom: 20px;
}

.ingredients {
	margin-bottom: 20px;
}

.recipe-detail .ingredients input, .recipe-detail .ingredients select {
	width: 31.5%;
	display: inline;
	margin-bottom: 3px;
}

.floatRight {
	float: right;
}

.recipe-content {
	padding: 15px;
}

.recipe-detail {
	padding: 0 15px;
}

.tag-panel {
	height: 34px;
	display: inline-block;
}

.tag-panel.active {
	border-color: #66afe9;
 	outline: 0;
 	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
 	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.tag-input {
	border: none;
}

.tag-input:focus {
	outline: none;
}

.tag {
	background-color: #eee;
	border-radius: 4px;
	padding: 3px 3px 3px 8px;
	margin-right: 3px;
	cursor: pointer;
}

.utilities {
	padding: 20px 0 45px;
	overflow: hidden;
}

.label {
	color: #555;
	font-weight:300;
	font-size: 16px;
	padding: 0;
	padding-right: 4px;
}

p.item {
	margin: 0px;
}

#title {
	border:none;
	box-shadow: none;
	padding-left: 0;
	margin-bottom: 0;
}

.search-panel button {
	margin-left: 10px;
}

.search-panel input, .search-panel select {
	margin-right: 10px;
}

.header .fa-plus {
	font-size: 24px;
}

#added {
	min-width: 250px;
	margin: 0;
}

.input-group {
 	margin-bottom: 20px;
	margin-top: 3px;	
}

#date-label {
	margin-bottom: 0;
	padding-bottom: 0;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #eee;
	color: inherit;
}