h1, h2 {
	display: inline;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

textarea.form-control {
 	min-width: 428px;
 	min-height: 100px;
	display: block;
}

i {
	cursor: pointer;
}

.header {
	padding: 25px 15px;
}

.form-control {
	width: inherit;
	display: inline;
	font-size: inherit;
	height: inherit;
}

.floatRight {
	float: right;
}

.recipe-content {
	padding: 15px;
}