<div class="col-md-12">
	<form>
		<input type="hidden" id="recipeId" value="{{recipeId}}"/>

		<div class="header"><h1><input type="text" value="{{recipe.title}}" name="title" id="title" class="form-control"></h1></div>
		<p>Date: <input type="text" value="{{recipe.added}}" name="added" id="added" class="form-control"/></p>
		<span>tags: </span><span ng-repeat="tag in recipe.tags" class="tags">{{tag}} </span>
		<p>Cook time: <input type="text" value="{{recipe.time}}" name="time" id="time" class="form-control"></p>
		<span>Ingredients:</span>
		<p ng-repeat="ingredient in recipe.ingredients" class="ingredients"> 
			<input value="{{ingredient.qty}}"  class="qty form-control"/>
			<select data-ng-options="unit for unit in units" data-ng-model="ingredient.units"></select>
			<input value="{{ingredient.ingredient}}" class="ingredient form-control"/>
		</p>
		<p>Instructions:<input type="text" value="{{recipe.instructions}}" name="instructions" id="instructions" class="form-control"></p>

		<button ng-click="save()" class="btn">SAVE</button>
	</form>
</div>