<div class="container-fluid col-md-12">
  <h1>Recipes</h1>
  <div><a href="#/recipes/new"><i class="fa fa-plus"></i></a></div>
  
  <div class="row col-md-12">
<!--     <div class="col-md-2"> 
      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </div> -->

    <div>
      <ul class="recipes">
        <li ng-repeat="recipe in recipes | orderBy:orderProp track by $index" class="thumbnail col-md-4">
          <i class="fa fa-times" ng-click="deleteRecipe(recipe._id);"></i>
          <a href="#/recipes/{{recipe._id}}">{{recipe.title}}</a>
          <p>Date added: {{recipe.added}}</p>
        </li>
      </ul>
    </div>

  </div>
</div>
  


