<div class="container-fluid col-md-12">
  <div class="header"><h1>Recipes</h1><a href="#/recipes/new" class="floatRight"><i class="fa fa-plus"></i></a></div>
  
  
  <div>
    <div class="col-md-12"> 
      Search: <input ng-model="query">
      By: 
      <select ng-model="searchBy">
        <option value="title">Title</option>
        <option value="added">Date Added</option>
        <option value="tags">Tags</option>
      </select>
<!--       Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select> -->
      <button ng-click="search(query, searchBy)" class="btn">SEARCH</button>
    </div>

    <div>
      <ul class="recipes">
        <li ng-repeat="recipe in recipes | orderBy:orderProp track by $index" class="col-md-4 recipe">
          <div class="thumbnail recipe-content">
            <h2><a href="#/recipes/{{recipe._id}}">{{recipe.title}}</a></h2><i class="fa fa-times floatRight" ng-click="deleteRecipe(recipe._id);"></i>
            <p>Date added: {{recipe.added}}</p>
          </div> 
        </li>
      </ul>
    </div>

  </div>
</div>
  


