<div class="col-md-4"></div>

<div class="col-md-4 recipe-detail">
	<form>
		<input type="hidden" id="recipeId" value="{{recipeId}}"/>

		<div class="header"><h1><input type="text" value="{{recipe.title}}" name="title" id="title" class="form-control" placeholder="Name your recipe"></h1></div>

		<div class="recipe-detail">
			<p class="item"><span class="label">Date: </span><input type="text" value="{{recipe.added}}" name="added" id="added" class="form-control"/></p>
			<p class="item">
				<span class="label">Tags: </span>
				<span class="form-control tag-panel">
					<span ng-repeat="tag in recipe.tags" class="tag">
						<span class="tags" ng-click="searchByTag($index)">{{tag}}</span>
						<i class="fa fa-times" ng-click="deleteTag($index);"></i>
					</span>
					<input value="" class="tag-input"/>
				</span>
			</p>
			<p class="item"><span class="label">Cook time: </span><input type="text" value="{{recipe.time}}" name="time" id="time" class="form-control"></p>
				<span class="label">Ingredients:</span> <i class="fa fa-plus" ng-click="addIngredient();"></i>
				<p ng-repeat="ingredient in recipe.ingredients track by $index" class="ingredients"> 
				<input value="{{ingredient.qty}}"  class="qty form-control"/>
				<select data-ng-options="unit for unit in units" ng-model="ingredient.units" class="form-control units"></select>
				<input value="{{ingredient.ingredient}}" class="ingredient form-control"/>
				<i class="fa fa-times" ng-click="deleteIngredient($index);"></i>
			</p>
			<p class="item"><span class="label">Instructions: </span><textarea id="instructions" class="form-control">{{recipe.instructions}}</textarea></p>
		</div>
		<div class="footer">
			<button ng-click="save()" class="btn btn-default">SAVE</button>
		</div>
	</form>
</div>

<div class="col-md-4"></div>